<!--右侧悬浮-->
<script src="~/js/OutJs/top.js"></script>
<link href="~/Content/outindex/float.css" rel="stylesheet" />
<div class="floating_ck">
    <div class="kfleft" title="点击查看联系方式"></div>
    <dl>

        <dd class="return">
            <span onclick="gotoTop();return false;">返回顶部</span>
        </dd>
        <dd class="consult">
            <span>QQ</span>
            <div class="floating_left  floating_ewm2">
                <p class="qrcord_p01">扫描或点击下方二维码<br></p>
                <p class="qrcord_p02"><b>加入我们的QQ群<b></p>
                <a href="#"><img src="/Images/float/erweima.png" /></a>
                <p class="qrcord_p02"><b><b></p>
            </div>
        </dd>
        <!--
        <dd class="words">
            <span>在线留言</span>
            <div class="floating_left"><a href="http://sc.chinaz.com">问题在线留言</a></div>
        </dd>
        <dd class="quote">
            <span>索要报价</span>
            <div class="floating_left"><a href="http://sc.chinaz.com">索要产品报价表</a></div>
        </dd>
            -->
        <dd class="qrcord">
            <span>微信</span>
            <div class="floating_left floating_ewm">
                <i></i>
                <p class="qrcord_p01">扫一扫<br>关注微信</p>
                <p class="qrcord_p02"><b><b></p>
            </div>
        </dd>

    </dl>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".kfleft").click(function () {
            var i = $(".floating_ck").css("right");
            if (i == '2px') {
                $('.floating_ck').animate({ right: -82 }, 200);
                $(".kfleft").css("background", "url(/images/float/zk.png) no-repeat");
            } else {
                $('.floating_ck').animate({ right: 2 }, 200);
                $(".kfleft").css("background", "url(/images/float/sq.png) no-repeat");
            }
        });
    });
</script>