@charset "utf-8";
body, html {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-family: 'hiragino sans gb w3','hiragino sans gb','Microsoft YaHei',arial,helvetica,simsun,Tahoma,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 400;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.index_rt{ width:1278px;margin:50px auto;padding:15px; border:1px solid #ccc; border-radius:10px;}
.ir_main{ clear:both;}
.div2 {
    height: 110px;
}

.ir_25{ width:12%; float:left; text-align:center}
.ir_25 p{ color:#6d6d6d;}

.title-bar {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    color: rgb(52,152,219);
    font-weight:800;
    font-family: "microsoft yahei";
}