@{
    ViewBag.Title = "NoPower";
    Layout = null;
}
<title>关务云单证处理平台</title>
<script src="/js/jquery-1.8.2.min.js"></script>
<style type="text/css">
    body {
        background-image: url(/Images/nopower.png);
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
<body>
    <script type="text/javascript">
        $("body").click(function (event) {
            window.location.href = "/Home/Index";
        });
    </script>
</body>