@{
    ViewBag.Title = "NoPower";
    Layout = "~/Views/Shared/Empty.cshtml";
}

<center>
    <h3 style="color: red; font-weight: 800;">您没有访问此页面的权限，谢谢！</h3>
    <h5 style="color: gray; font-weight: 800; ">若有疑问，请联系相关负责人，感谢您的配合.</h5>
</center>