obj/Debug/
bin/MvcPlatform.dll
bin/MvcPlatform.dll.config
bin/MvcPlatform.pdb
FileUpload/file/
MvcPlatform.csproj
MvcPlatform.csproj.user
MvcPlatform.v12.suo
Declare/947e4ac6-1b50-42bf-8226-e72b262a974b.pdf
Declare/bbc221c2-391a-4a47-8f53-f87a36981117.pdf
