Web.config
obj/Debug/
bin/MvcPlatform.dll
bin/MvcPlatform.dll.config
bin/MvcPlatform.pdb
FileUpload/file/
MvcPlatform.csproj
MvcPlatform.csproj.user
MvcPlatform.v12.suo
Declare/
Web.Debug.config
Web.Release.config
*.svn-base
.svn/entries
*.db
.svn/format
