@{
    ViewBag.Title = "Change_Audit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = System.Configuration.ConfigurationManager.AppSettings["Version"];
}

<link href="/js/Extjs42/resources/css/ext-all-gray.css" rel="stylesheet" type="text/css" />
<script src="/js/Extjs42/bootstrap.js" type="text/javascript"></script>
<link href="~/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<script src="/js/pan.js?t=@Version" type="text/javascript"></script>
<script src="~/js/RecordData.js?t=@Version"></script>
<script src="~/Views/RecordInfor/RecordCommon.js?t=@Version"></script>
<script src="~/Views/RecordInfor/form_change_Audit.js?t=@Version"></script>
<style>
    .lab {
        font-weight: 100;
        color: #3071a9;
    }
</style>
<script type="text/javascript">
    var id = getQueryString("id"); 
    var common_data_unit = [], common_data_customarea = [], common_data_jydw = [];

    Ext.onReady(function () {
        Ext.Ajax.request({
            url: "/Common/Ini_Base_Data",
            params: { ParaType: 'recordinfo' },
            success: function (response, opts) {
                var commondata = Ext.decode(response.responseText);
                common_data_jydw = commondata.jydw;//企业编号
                common_data_unit = commondata.unit;//单位
                common_data_customarea = commondata.customarea;//备案关区

                form_ini_Audit();//form
                form_ini_btn_Audit();//form button
                loadform_record_Audit('U'); //form data
            }
        })
    });

</script>
<div class="container">
    <div id="div_form"></div>
    <br />
    <div id="div_form_con"></div>
    <br />
    <div id="div_form_btn"></div>
</div>