.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0;
}

.fr {
    float: right;
}

.nav {
    background-color: #363c64;
}

.iconsize {
    font-size: 35px !important;
    margin: 0 10px !important;
}

body {
    font-family: 'Microsoft YaHei' !important;
}
.footer{  
    color:black;
    margin:0 10px;
}
/*权限管理模块*/
.fl {float:left;}
/*上传文件的选中的线框*/
.x-item-selected {border:1px solid;}
.thumb-wrap {color:#57638b;}