@using Webdiyer.WebControls.Mvc;
@using MvcPlatform.Models;
@{
    ViewBag.Title = "IndexNotice_M";
    Layout = "~/Views/Shared/_Layout_home.cshtml";
}

@model PagedList<Web_Notice>
<div id="articles">
    @Html.Partial("_ArticleList", Model)
</div>
@section Scripts{@{Html.RegisterMvcPagerScriptResource();}}