@{
    ViewBag.Title = "ErrorPage";
    Layout = null;
}
<style type="text/css">

    body {
        background-image: url(/Images/error.png);
        background-repeat: no-repeat;
        background-position: center;
    }
</style>


@*<h2>程序出现异常状态，请联系管理员</h2>*@
@*@Html.Raw(ViewBag.error);*@
