@{
    ViewBag.Title = "BatchMaintain";
    Layout = "~/Views/Shared/Empty.cshtml";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="/js/upload/plupload.full.min.js"></script>
    <link href="/js/Extjs42/resources/css/ext-all-gray.css" rel="stylesheet" type="text/css" />
    <script src="/js/Extjs42/bootstrap.js" type="text/javascript"></script>

    <script src="/js/pan.js" type="text/javascript"></script>
    <script src="/js/BatchMaintain.js"></script>

    <title>批量维护</title>
    <script type="text/javascript">
        var ids = getQueryString("ids"); var type = getQueryString("type");

        var store_Trade, gridpanel, formpanel, file_store，win_container_truck, uploader;
        var store_mzbz;
        var common_data_jydw = [], common_data_sbfs = [], common_data_sbgq = []
            , common_data_bgfs = [], common_data_bzzl = [], common_data_myfs = []
            , common_data_containertype = [], common_data_containersize = [], common_data_truckno = [], common_data_relacontainer = [], common_data_mzbz = [], common_data_adminurl = "";

        var busitype = "";
        switch (type) {
            case "10":
                busitype = "空运出口"; break;
            case "11":
                busitype = "空运进口"; break;
            case "20":
                busitype = "海运出口"; break;
            case "21":
                busitype = "海运进口"; break;
            case "30":
                busitype = "陆运出口"; break;
            case "31":
                busitype = "陆运进口"; break;
            case "40-41":
                busitype = "国内"; break;
            case "50-51":
                busitype = "特殊区域"; break;
        }
        Ext.onReady(function () {
            Ext.Ajax.request({
                url: "/Common/Ini_Base_Data",
                params: {
                    busitype: busitype
                },
                success: function (response, opts) {
                    var commondata = Ext.decode(response.responseText)
                    common_data_jydw = commondata.jydw;//经营单位
                    common_data_sbfs = commondata.sbfs;//申报方式
                    common_data_sbgq = commondata.sbgq;//申报关区 进口口岸
                    common_data_bgfs = commondata.bgfs;//报关方式
                    common_data_bzzl = commondata.bzzl;//包装种类
                    common_data_myfs = commondata.myfs;//贸易方式
                    common_data_containertype = commondata.containertype;//箱型
                    common_data_containersize = commondata.containersize;//集装箱尺寸
                    common_data_truckno = commondata.truckno;//报关车号
                    common_data_relacontainer = commondata.relacontainer;//关联集装箱
                    common_data_mzbz = commondata.mzbz;//木质包装
                    common_data_adminurl = commondata.adminurl;//文件服务器URL

                    Batchform_ini();//表单初始化
                    Batchpanel_file_ini();//随附文件初始化

                    store_mzbz = Ext.create('Ext.data.JsonStore', { fields: ['CODE', 'NAME'], data: common_data_mzbz });

                    Ext.regModel('TRADE', {
                        fields: ['ID', 'ENTRUSTTYPE', 'CODE', 'CUSNO', 'BUSIUNITNAME', 'CUSTOMAREACODE', 'TOTALNO', 'TURNPRENO', 'WOODPACKINGID', 'DECLCARNO'
                            , 'PORTCODE', 'SHIPNAME', 'FILGHTNO', 'SECONDLADINGBILLNO', 'ARRIVEDNO', 'MANIFEST', 'ENTRUSTREQUEST', 'LAWFLAG'
                            , 'DECLSTATUS', 'INSPSTATUS']
                    });
                    store_Trade = Ext.create('Ext.data.JsonStore', {
                        model: 'TRADE',
                        pageSize: 20,
                        proxy: {
                            type: 'ajax',
                            url: '/Common/LoadBatchMaintain',
                            reader: {
                                root: 'rows',
                                type: 'json',
                                totalProperty: 'total'
                            }
                        },
                        autoLoad: true,
                        listeners: {
                            beforeload: function (store, options) {
                                var new_params = {
                                    ids: ids
                                }
                                Ext.apply(store.proxy.extraParams, new_params);
                            },
                            load: function () {
                                gridpanel.getSelectionModel().selectAll();
                            }
                        }
                    });
                    var grid_tbar = Ext.create('Ext.toolbar.Toolbar', {
                        items: ['<h4 style="margin:2px 0px 0px 530px;font-weight:bold;text-align:center;">批量维护</h4>']
                    })

                    gridpanel = Ext.create('Ext.grid.Panel', {
                        renderTo: 'gridpanel',
                        store: store_Trade,
                        tbar: grid_tbar,
                        minHeight: 250,
                        selModel: { selType: 'checkboxmodel' },
                        columns: [
                            { xtype: 'rownumberer', width: 0 },
                            { header: 'ID', dataIndex: 'ID', hidden: true },
                            { header: '报关状态', dataIndex: 'DECLSTATUS', width: 75, renderer: renderOrder },
                            { header: '报检状态', dataIndex: 'INSPSTATUS', width: 75, renderer: renderOrder },
                            { header: '订单编号', dataIndex: 'CODE', width: 90 },
                            { header: '客户编号', dataIndex: 'CUSNO', width: 120 },
                            { header: '经营单位', dataIndex: 'BUSIUNITNAME', minWidth: 200 },
                            { header: '申报关区', dataIndex: 'CUSTOMAREACODE', width: 100 },
                            { header: '总单号', dataIndex: 'TOTALNO', width: 100, hidden: !(type == 'KYJK' || type == 'KYCK') },
                            { header: '转关预录号', dataIndex: 'TURNPRENO', width: 120, hidden: !(type == 'KYJK' || type == 'HYJK') },
                            { header: '木质包装', dataIndex: 'WOODPACKINGID', renderer: renderOrder, width: 180, hidden: !(type == 'KYJK' || type == 'HYJK' || type == 'LYJK') },
                            { header: '进出口岸', dataIndex: 'PORTCODE', width: 100, hidden: !(type == 'KYCK' || type == 'HYJK' || type == 'HYCK' || type == 'LYCK') },
                            { header: '船名', dataIndex: 'SHIPNAME', width: 100, hidden: !(type == 'HYCK') },
                            { header: '船次', dataIndex: 'FILGHTNO', width: 100, hidden: !(type == 'HYCK') },
                            { header: '提单号', dataIndex: 'SECONDLADINGBILLNO', width: 100, hidden: !(type == 'HYCK' || type == 'LYJK') },
                            { header: '运抵编号', dataIndex: 'ARRIVEDNO', width: 100, hidden: !(type == 'HYCK' || type == 'LYCK') },
                            { header: '载货清单号', dataIndex: 'MANIFEST', width: 100, hidden: !(type == 'LYJK') },
                            { header: '对方转关号', dataIndex: 'TURNPRENO', width: 100, hidden: !(type == 'TSQY') },
                            { header: '法检状况', dataIndex: 'LAWFLAG', renderer: renderOrder, width: 90, hidden: !(type == 'GNJZ') },
                            { header: '报关车号', dataIndex: 'DECLCARNO', width: 100, hidden: (type == 'GNJZ') },
                            { header: '备注', dataIndex: 'ENTRUSTREQUEST', minWidth: 100, flex: 1 }

                        ],
                        listeners: //选项发生改变
                        {
                            'selectionchange': function (thiss, selected, eOpts) {
                                loadbatchform();
                            }
                        }
                    });


                }
            });


        });

    </script>
</head>
<body>
    <div class="container">
        <div id="gridpanel"></div>
        <div id="div_form_left" style="width: 55%; float: left"></div>
        <div id="div_form_right" style="width: 45%; float: left"></div>
    </div>
</body>
</html>