@{
    ViewBag.Title = "GoodsTrack";
    Layout = "~/Views/Shared/Empty.cshtml";
    string Version = System.Configuration.ConfigurationManager.AppSettings["Version"];
}
<link href="/js/Extjs42/resources/css/ext-all.css" rel="stylesheet" />
<script src="/js/Extjs42/bootstrap.js" type="text/javascript"></script>
<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<script src="/js/pan.js?t=@Version" type="text/javascript"></script>
<script src="/js/commondata.js?t=@Version"></script>
<style type="text/css">

    #menu {
        background-color: #d9e7f8;
        width:100%;
        height: 30px;
        padding-left:0px;
        padding-right:0px;
    }
    #menu li {
        float: left;
        width: 130px;
        list-style: none;
        height: 30px;
        padding-top: 5px;
        text-align: center;
    }
</style>
<script type="text/javascript">
    var  busitypeid,rowIndex;
    var common_data_sbgq, common_data_sbfs, common_data_myfs;
    var preUrl, nextUrl;
    var startrow = 0;
    var store_Trade;
    var currentPage; var pageSize, store_size, max_page;
    var param1,param2,param3
   
    

    Ext.onReady(function () {
        var id = getQueryString("id");
        rowIndex = getQueryString("rowIndex");
        currentPage = getQueryString("currentPage");
        if (opener.Ext.getCmp('declare_grid_pgbar')) {
            pageSize = parseInt(opener.Ext.getCmp('declare_grid_pgbar').store.pageSize);
            store_size = parseInt(opener.Ext.getCmp('declare_grid_pgbar').store.data.length);
        }



        var model_fields = ['ID', 'CODE', 'ORDERCODE', 'CUSTOMSSTATUS', 'ISPRINT', 'SHEETNUM', 'MODIFYFLAG', 'PRETRANSNAME',
                        'DECLARATIONCODE', 'REPTIME', 'CONTRACTNO', 'GOODSNUM', 'GOODSNW', 'GOODSGW', 'BLNO', 'TRANSNAME', 'VOYAGENO',
                        'BUSIUNITCODE', 'BUSIUNITNAME', 'PORTCODE', 'TRADEMETHOD', 'DECLWAY', 'DECLWAYNAME',
                        'BUSITYPE', 'CONTRACTNOORDER', 'REPWAYID', 'REPWAYNAME', 'TOTALNO', 'DIVIDENO', 'SECONDLADINGBILLNO',
                        'CUSNO', 'IETYPE', 'ASSOCIATENO', 'CORRESPONDNO', 'CUSTOMERNAME'];
        Ext.define('DeclarationList', {
            extend: 'Ext.data.Model',
            fields: model_fields
        });
        store_Trade = Ext.create('Ext.data.JsonStore', {
            model: 'DeclarationList',
            pageSize: pageSize
        });
        store_Trade.proxy = opener.Ext.getCmp('declare_grid_pgbar').store.getProxy();
        store_Trade.proxy.extraParams.start = pageSize * (parseInt(currentPage) - 1);;
        store_Trade.load(function (records, operation, success) {
            max_page = (store_Trade.totalCount % pageSize) == 0 ? parseInt(store_Trade.totalCount / pageSize) : parseInt(store_Trade.totalCount / pageSize) + 1;
        });




        form_ini();
        var items = [];
        var paneltop_2 = Ext.create('Ext.panel.Panel', {
            id: 'paneltop_2',
            border: 0,
            region: 'center',
            height: 430,
            contentEl: 'content'
        })
        var paneltop_1 = Ext.create('Ext.panel.Panel', {
            border: 10,
            height: 30,
            region: 'north',
            contentEl: 'menu'

        })
        var panel_top = Ext.create('Ext.panel.Panel', {
            id: 'panel_top',
            border: 0,
            region: 'north',
            items: [paneltop_1, paneltop_2]
        })
        items.push(panel_top);



        var bbar_r = '<div><a href="javascript:reload(2);">上一条</a>&nbsp;&nbsp;<a href="javascript:reload(1);">下一条</a></div>';
        var buttombar = Ext.create('Ext.toolbar.Toolbar', {
            buttonAlign: 'center',
            items: ['->', {
                text: "<font color='red' size='3'><b>打印报关单</b></font>",
                handler: function () {
                    FileConsult(param1, param2, param3)
                }
            }, '->', bbar_r]
        });

        var panel_bottom = Ext.create('Ext.panel.Panel', {
            id: 'panel_buttom',
            title: '<i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;基本信息',
            border: 0,
            tbar: buttombar,
            region: 'center',
            //collapsed: false,//让第二项展开，达到第一项收起的目的
            items: [Ext.getCmp('panelbottom_1_1')]
        });
        items.push(panel_bottom);
        var viewport = Ext.create('Ext.container.Viewport', {
            id: 'viewport',
            //layout: 'accordion',
            items: items
        });

        var recCurrent = opener.Ext.getCmp('declare_grid_pgbar').store.findRecord('ID', id);
        loadform_data(recCurrent);

        setHeight();
        Ext.get(window).on('resize', function () { setHeight(); });




        function setHeight() {
            var V_height = Ext.getCmp('viewport').getSize().height;
            var B_height = Ext.getCmp('panel_buttom').getSize().height;
            Ext.getCmp('panel_top').setHeight(V_height - B_height);
            Ext.getCmp('paneltop_2').setHeight(V_height - B_height);

        }

        $("#menu").append("<li style=\"background-color: #2a6496\" ref=\"http://www.haiguan.info/onlinesearch/gateway/Gatewaystate.aspx\">通关状态查询</li>")
        $("#content").attr("src", "http://www.haiguan.info/onlinesearch/gateway/Gatewaystate.aspx");

    });

    function reload(action)
    {

        if (action == "1") {
            rowIndex = eval(parseInt(rowIndex) + 1);
            if (rowIndex >= store_size) {
                rowIndex = 0;
                currentPage = parseInt(currentPage) + 1;
                //startrow = pageSize * parseInt(currentPage) > store_Trade.totalCount ? pageSize * (parseInt(currentPage) - 1) : pageSize * parseInt(currentPage);
                startrow = pageSize * (parseInt(currentPage) - 1);
                
                if (currentPage == max_page + 1) {
                    currentPage = currentPage - 1;
                    rowIndex = store_size - 1;
                    Ext.MessageBox.alert('提示', '当前为尾页！');
                    return;
                }
                //var params = { start: startrow, busitypeid: busitypeid };
                store_Trade.proxy.extraParams.start = startrow;
                store_Trade.load(function (records, operation, success) {
                    var recs = records[rowIndex];
                    loadform_data(recs);
                    store_size = records.length;
                });

            

            }
            else {
                if (currentPage == max_page + 1) {
                    //currentPage = currentPage - 1;
                    rowIndex = store_size;
                    Ext.MessageBox.alert('提示', '当前为尾页！');
                }
                else
                {
                    loadform_data(store_Trade.data.items[rowIndex]);

                    

                }
                
            }
        } else {

            rowIndex = eval(parseInt(rowIndex) - 1);
            if (rowIndex < 0) {
                rowIndex = pageSize - 1;
                currentPage = parseInt(currentPage) - 1;
                startrow = pageSize * (parseInt(currentPage) - 1) < 0 ? 0 : pageSize * (parseInt(currentPage) - 1);
                

                if (currentPage == 0) {
                    currentPage = 1
                    Ext.MessageBox.alert('提示', '当前为首页！');
                    rowIndex = 0;
                    return;
                }
               // var params = { start: startrow, busitypeid: busitypeid };
                store_Trade.proxy.extraParams.start = startrow;
                store_Trade.load(function (records, operation, success) {
                    var recs = records[rowIndex];
                    loadform_data(recs);
                    store_size = records.length;
                });
            }
            else {
                if (currentPage == 0) {
                    currentPage = 1
                    Ext.MessageBox.alert('提示', '当前为首页！');
                }
                else {
                   loadform_data(store_Trade.data.items[rowIndex]);
                  
                }
              
            }
        }
      



        
    }
    function loadform_data(rec)
    {
        param1 = rec.data.ORDERCODE;
        param2 = rec.data.BUSITYPE;
        param3 = rec.data.CODE
        Ext.getCmp('panelbottom_1_1').getForm().setValues(rec.data);
   
    }

    function form_ini()
    {
    
        var field_ID = Ext.create('Ext.form.field.Hidden', {
            name: 'ID'
        });
        var field_DECLARATIONCODE = Ext.create('Ext.form.field.Text', {
            name: 'DECLARATIONCODE',
            fieldLabel: '报关单号',
            readOnly: true
        });
        var field_REPTIME = Ext.create('Ext.form.field.Text', {
            name: 'REPTIME',
            fieldLabel: '申报日期',
            readOnly: true
        });
        var field_CUSTOMSSTATUS = Ext.create('Ext.form.field.Text', {
            name: 'CUSTOMSSTATUS',
            fieldLabel: '海关状态',
            readOnly: true
        });
        var field_CONTRACTNOORDER = Ext.create('Ext.form.field.Text', {
            name: 'CONTRACTNOORDER',
            fieldLabel: '合同发票号',
            readOnly: true
        });
        var field_BUSIUNITNAME = Ext.create('Ext.form.field.Text', {
            name: 'BUSIUNITNAME',
            fieldLabel: '经营单位',
            readOnly: true
        });
        var item_top = [{ layout: 'column', height: 30, margin: '5 0 0 0', border: 0, items: [field_DECLARATIONCODE, field_REPTIME, field_CUSTOMSSTATUS, field_CONTRACTNOORDER, field_BUSIUNITNAME] }];

        var panelbottom_1_1 = Ext.create('Ext.form.Panel', {
            id: 'panelbottom_1_1',
           // region: 'center',
            border: 0,
            fieldDefaults: {
                margin: '0 5 10 0',
                labelWidth: 80,
                columnWidth: .20,
                labelAlign: 'right'
            },
            items:item_top

        });

    }
    function FileConsult(ORDERCODE, BUSITYPE, PREDECLCODE) {
        opencenterwin("/Common/FileConsult_Declare?menuxml=" + getQueryString("menuxml") + "&source=declare&ORDERCODE=" + ORDERCODE + "&BUSITYPE=" + BUSITYPE + "&PREDECLCODE=" + PREDECLCODE, 1200, 900);
    }


</script>
<ul id="menu">
    
</ul>
<iframe id="content" name="frame" width=100% height=100% security="restricted" sandbox="allow-scripts  allow-forms allow-same-origin" />