@{
    string Version = System.Configuration.ConfigurationManager.AppSettings["Version"];
}
<link href="/js/Extjs42/resources/css/ext-all-gray.css" rel="stylesheet" type="text/css" />
<script src="/js/Extjs42/bootstrap.js" type="text/javascript"></script>
<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

<script src="/js/pan.js?t=@Version" type="text/javascript"></script>
<script src="/js/commondata.js?t=@Version"></script>
<script src="/js/search.js?t=@Version" type="text/javascript"></script>

<script type="text/javascript">
    var store_Trade; var store_sbfs;
    var formpanel, gridpanel;    
    var common_data_jydw = [], common_data_sbfs = [], common_data_sbgq = [], common_data_bgfs = [], common_data_bzzl = [], common_data_myfs = [];
    Ext.onReady(function () {
        Ext.Ajax.request({//对公共基础数据发起一次请求
            url: "/Common/Ini_Base_Data",
            params: { busitype: '海运出口' },
            success: function (response, option) {
                var commondata = Ext.decode(response.responseText);
                common_data_jydw = commondata.jydw;//经营单位
                common_data_sbfs = commondata.sbfs;//申报方式
                common_data_sbgq = commondata.sbgq;//申报关区 进口口岸
                common_data_bgfs = commondata.bgfs;//报关方式
                common_data_bzzl = commondata.bzzl;//包装种类
                common_data_myfs = commondata.myfs;//贸易方式

                //按钮显示与隐藏
                if (commondata.isreceiver != "1") { $("#btn_add_index").hide(); }

                //查询区域
                initSearch('20');
                //列表
                store_sbfs = Ext.create('Ext.data.JsonStore', {
                    fields: ['CODE', 'NAME'],
                    data: common_data_sbfs
                });
                store_Trade = Ext.create('Ext.data.JsonStore', {
                    fields: ['ID', 'ENTRUSTTYPE', 'DECLSTATUS', 'INSPSTATUS', 'CODE', 'CUSNO', 'PORTCODE',
                       'TURNPRENO', 'SUBMITTIME', 'GOODSGW','BUSIUNITCODE', 'BUSIUNITNAME', 'CONTRACTNO', 'REPWAYID', 'GOODSNUM',
                       'CUSTOMAREACODE', 'LAWFLAG', 'SECONDLADINGBILLNO', 'ARRIVEDNO', 'ISINVALID', 'BUSITYPE', 'PRINTSTATUS', 'STATUS'],
                    pageSize: 20,
                    proxy: {
                        type: 'ajax',
                        url: '/Common/LoadList',
                        reader: {
                            root: 'rows',
                            type: 'json',
                            totalProperty: 'total'
                        }
                    },
                    autoLoad: true,
                    listeners: {
                        beforeload: function () {
                            store_Trade.getProxy().extraParams = {
                                busitypeid: 20,
                                OnlySelf: Ext.get('OnlySelfi').el.dom.className,
                                CONDITION1: Ext.getCmp('CONDITION1').getValue(), VALUE1: Ext.getCmp("CONDITION1_1").getValue(),
                                CONDITION2: Ext.getCmp('CONDITION2').getValue(), VALUE2: Ext.getCmp("CONDITION2_1").getValue(),
                                CONDITION3: Ext.getCmp('CONDITION3').getValue(), VALUE3: Ext.getCmp("CONDITION3_1").getValue(),
                                CONDITION4: Ext.getCmp('CONDITION4').getValue(), VALUE4_1: Ext.Date.format(Ext.getCmp("CONDITION4_1").getValue(), 'Y-m-d H:i:s'), VALUE4_2: Ext.Date.format(Ext.getCmp("CONDITION4_2").getValue(), 'Y-m-d H:i:s'),
                                CONDITION5: Ext.getCmp('CONDITION5').getValue(), VALUE5: Ext.getCmp("CONDITION5_1").getValue(),
                                CONDITION6: Ext.getCmp('CONDITION6').getValue(), VALUE6: Ext.getCmp("CONDITION6_1").getValue(),
                                CONDITION7: Ext.getCmp('CONDITION7').getValue(), VALUE7: Ext.getCmp("CONDITION7_1").getValue(),
                                CONDITION8: Ext.getCmp('CONDITION8').getValue(), VALUE8_1: Ext.Date.format(Ext.getCmp("CONDITION8_1").getValue(), 'Y-m-d H:i:s'), VALUE8_2: Ext.Date.format(Ext.getCmp("CONDITION8_2").getValue(), 'Y-m-d H:i:s')
                            }
                        }
                    }
                })
                pgbar = Ext.create('Ext.toolbar.Paging', {
                    displayMsg: '显示 {0} - {1} 条,共计 {2} 条',
                    store: store_Trade,
                    displayInfo: true
                })
                //显示
                gridpanel = Ext.create('Ext.grid.Panel', {
                    renderTo: "appConId",
                    store: store_Trade,
                    height: 500,
                    selModel: { selType: 'checkboxmodel' },
                    bbar: pgbar,
                    enableColumnHide: false,
                    columns: [
                    { xtype: 'rownumberer', width: 35 },
                    { header: 'ID', dataIndex: 'ID', hidden: true, locked: true },
                    { header: '报关状态', dataIndex: 'DECLSTATUS', width: 80, renderer: renderOrder, locked: true },
                    { header: '报检状态', dataIndex: 'INSPSTATUS', width: 80, renderer: renderOrder, locked: true },
                    { header: '订单编号', dataIndex: 'CODE', width: 100, locked: true },
                    { header: '客户编号', dataIndex: 'CUSNO', width: 130, locked: true },
                    { header: '经营单位', dataIndex: 'BUSIUNITNAME', width: 180, sortable: true, locked: true },
                    { header: '合同号', dataIndex: 'CONTRACTNO', width: 140, locked: true },
                    { header: '提单号', dataIndex: 'SECONDLADINGBILLNO', width: 110, locked: true },
                    { header: '打印状态', dataIndex: 'PRINTSTATUS', width: 70, locked: true, renderer: renderOrder },
                    { header: '运抵编号', dataIndex: 'ARRIVEDNO', width: 150 },
                    { header: '件数/重量', dataIndex: 'GOODSNUM', width: 90, renderer: renderOrder},//该字段需要拼接
                    { header: '申报关区', dataIndex: 'CUSTOMAREACODE', width: 60 },//需要显示编码
                    { header: '进/出口岸', dataIndex: 'PORTCODE', width: 70 },//需要显示编码
                    { header: '申报方式', dataIndex: 'REPWAYID', width: 100, renderer: renderOrder },
                    { header: '转关预录号', dataIndex: 'TURNPRENO', width: 70 },//需要确定具体字段
                    { header: '法检', dataIndex: 'LAWFLAG', width: 60, renderer: renderOrder },
                    { header: '委托时间', dataIndex: 'SUBMITTIME', width: 130 }
                    ],
                    //添加双击事件
                    listeners:
                    {
                        'itemdblclick': function (view, record, item, index, e) {
                            opencenterwin("/OrderSeaOut/Create?ordercode=" + record.data.CODE + "&OrderId=" + record.data.ID, 1600, 900);
                        }
                    },
                    viewConfig: {
                        enableTextSelection: true
                    }
                });
            }
        });
    });

    function Select() {
        pgbar.moveFirst();
    }
    function Open() {
        opencenterwin("/OrderSeaOut/Create", 1600, 900);
    }

    function changeOnlySelfStyle() {
        var OnlySelfDom = Ext.get('OnlySelfi');
        if (Ext.get('OnlySelfi').el.dom.className.replace(/(^\s*)|(\s*$)/g, "") == "fa fa-check-square-o") {
            OnlySelfDom.removeCls("fa fa-check-square-o")
            OnlySelfDom.addCls("fa fa-square-o");
        }
        else {
            OnlySelfDom.removeCls("fa fa-square-o")
            OnlySelfDom.addCls("fa fa-check-square-o");
        }
    }


    function openrwindow(url, width, height) {
        var iWidth = width ? width : "1000", iHeight = height ? height : "600";
        var iTop = (window.screen.availHeight - 30 - iHeight) / 2; //获得窗口的垂直位置;
        var iLeft = (window.screen.availWidth - 10 - iWidth) / 2; //获得窗口的水平位置; 
        window.open(url, '', 'height=' + iHeight + ',,innerHeight=' + iHeight + ',width=' + iWidth + ',innerWidth=' + iWidth + ',top=' + iTop + ',left=' + iLeft + ',location=yes,scrollbars=yes');
    }
    function GoodsTrake() {
        var recs = gridpanel.getSelectionModel().getSelection();
        if (recs.length == 0) {
            Ext.MessageBox.alert('提示', '请选择需要维护的记录！');
            return;
        }
        var id = recs[0].data.ID
        var index = gridpanel.store.indexOf(recs[0]);
        var currentPage = gridpanel.store.currentPage
        openrwindow("/EnterpriseOrder/GoodsTrack?menuxml=seaout&busitypeid=20&id=" + id + "&rowIndex=" + index + "&currentPage=" + currentPage, 1200, 800);
    }

</script>

<body>
    <div class="container">         
        <div id="div_form" style="width: 100%; height: 70px"></div>
        <div>
            <div class="btn-group" role="group">
                <button id="btn_add_index" onclick="Open()" type="button" class="btn btn-primary btn-sm"><i class="fa fa-plus fa-fw"></i>&nbsp;添加</button>
                <button onclick="DeleteNotGuoNei()" type="button" class="btn btn-primary btn-sm"><i class="fa fa-trash-o"></i>&nbsp;删除</button>                
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" onclick="openwin('HYCK','seaout')"><i class=" fa fa-pencil-square-o fa-fw"></i>&nbsp;批量维护</button>                
                <button type="button" onclick="Views('seaout')" class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i>&nbsp;详细</button>
                <button id="logistics" onclick="GoodsTrake()" type="button" class="btn btn-primary btn-sm"><i class="fa fa-truck"></i>&nbsp;网站速查</button>
            </div>
            <div class="btn-group fr" role="group">
                <button onclick="changeOnlySelfStyle()" class="btn btn-primary btn-sm"><i id="OnlySelfi" class="fa fa-check-square-o"></i>&nbsp;仅本人</button>
                <button onclick="Select()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;查询</button>
                <button onclick="Reset()" type="button" class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i>&nbsp;重置</button>
                <button onclick="SaveDefault()" type="button" class="btn btn-primary btn-sm"><i class="fa fa-floppy-o"></i>&nbsp;保存默认</button>
                <form id="exportform" name="form" enctype="multipart/form-data" method="post" style="display:inline-block">
                    @*action="/Common/ExportList?busitypeid=21"*@
                    <button type="button" id="btn_Export" class="btn btn-primary btn-sm" onclick="Export(20)"><i class="fa fa-level-down"></i>&nbsp;导出</button>
                </form>
            </div>
        </div>
        <div id="appConId" style="width:100%"></div>
    </div>
</body>